<p>
  This is a message board app. You can create new messages {% include
  'buttons/button-ref.svg', button: 'buttons/add-button.svg' %} and edit the
  existing ones, and make new connections between messages.
</p>
<p>
  This app is not <b>m&#8209;ld</b>, but it uses a <b>m&#8209;ld</b> engine to
  store the data and share it.
</p>
<blockquote>
  This app doesn't use a database. In fact this site is just statically served
  HTML and Javascript. <i>The message board data is not stored anywhere except
  here in the web browser.</i>
</blockquote>
<p>
  From a board, if you navigate somewhere else and come back, you'll see
  that the whole message board is still here.
</p>
<p>
  If you use the Share button or copy the browser URL, then open a new incognito
  window, or a different browser, or on a different computer, and navigate to
  that URL, you'll see the same message board.
</p>
<p>
  Now, if you make some changes... you'll see the state of the boards staying
  synchronised.
</p>
<p>
  This sharing of state is achieved using <b>m&#8209;ld</b>. There is <i>no code
  in the app itself</i> to communicate the data between the two boards. Instead,
  the app just makes the changes it wants to the data, and <b>m&#8209;ld</b>
  handles keeping the board data synchronised.
</p>
<p>
  <b>m&#8209;ld</b> is told by the app which boards should share the same data. In
  this app, it's done using the URL fragment.
</p>
<p>
  For more information about <b>m&#8209;ld</b>, head to the <a
  href="/doc/">documentation</a> or the <a href="/faq/">Frequently Asked
  Questions</a> page.
</p>
<p>
  Happy Messaging!
</p>