<div>Zoom in/out:
  <span class="how">mouse-wheel</span>
</div>
<div><a id="reset-zoom">Reset zoom</a>:
  <span class="how">double-click on background</span>
</div>
<div><a id="zoom-all">Zoom to see all</a>:
  <span class="how"><span class="tag">Shift</span>+ double-click</span>
</div>
<div>Pan board:
  <span class="how">drag the background</span>
</div>
<div>Move a message:
  <span class="how">drag {% include 'buttons/button-ref.svg', button:
  'buttons/move-button.svg' %}</span>
</div>
<div>Add a message:
  <span class="how">click {% include
  'buttons/button-ref.svg', button: 'buttons/add-button.svg' %}</span>
</div>
<div>Add a message at a specific place:
  <span class="how">drag and release {% include
  'buttons/button-ref.svg', button: 'buttons/add-button.svg' %}</span>
</div>
<div>Link to another message:
  <span class="how">drag {% include 'buttons/button-ref.svg', button:
  'buttons/add-button.svg' %} to it</span>
</div>
<div>Remove a message:
  <span class="how">click {% include
  'buttons/button-ref.svg', button: 'buttons/close-button.svg' %}</span>
</div>
<div>Remove linked messages:
  <span class="how"><span class="tag">Shift</span>+{% include
  'buttons/button-ref.svg', button: 'buttons/close-button.svg' %}</span>
</div>
<div>Remove a link:
  <span class="how">drag {% include 'buttons/button-ref.svg', button:
  'buttons/close-button.svg' %} to the linked message</span>
</div>
<div>Commit text change:
  <span class="how"><span class="tag">Enter</span></span>
</div>
<div>New text line:
  <span class="how"><span class="tag">Shift</span>+<span class="tag">Enter</span></span>
</div>