<div class="level mt-3 is-size-7">
  <div class="level-left">
    <div class="level-item">
      <p><b>m-ld</b> source code licensed
        <a target="_blank" href="http://opensource.org/licenses/mit-license.php">MIT</a>,
        website content licensed
        <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA
          4.0</a>.
      </p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <p><a href="privacy/">privacy policy</a></p>
    </div>
  </div>
</div>