<p><b>m-ld</b> is a revolutionary new way of thinking about app data.</p>

<p>With <b>m-ld</b>, data is just local state, which is shared to everywhere that it is being used&mdash;on mobiles, in browsers, in microservices, anywhere.</p>

<p>At the heart of <b>m-ld</b> is a decentralised protocol for distributing state among <i>clones</i>. Using <b>m-ld</b>, every app instance has read-write access to the shared state via its local clone, with zero latency. Changes to the state are propagated to all other app instances, so that they are all <i>eventually consistent</i>.</p>