<p class="is-size-5">
  With <b>m-ld</b>, information is available where it's <i>used</i>&mdash;on mobiles,
  in browsers, in microservices, anywhere&mdash;and it stays up-to-date, automatically.
  It's <a href="/news/#live-and-sharable">live and sharable</a>.
</p>
<div class="message is-primary has-text-centered">
  <div class="message-body">
    <p>Fed up of expensive, buggy wrangling to get your data<br/>from where it's
      <i>stored</i> to where it's <i>really</i> valuable?</p>
    <p><i>got javascript?</i></p>
    <p><a href="https://js.m-ld.org" class="button is-large is-primary is-rounded">get started</a></p>
    <p>(otherwise, <a href="/doc/#platforms">help us to help you</a>)</p>
  </div>
</div>
<p>
  At the heart of <b>m-ld</b> is a decentralised protocol for distributing live
  information among <i>clones</i>. Using <b>m-ld</b>, every instance of an app has read-write
  access to the shared information via its local clone, with zero network latency.
  Changes to the information are propagated to all other app instances, so they
  are all <i>eventually consistent</i>.
</p>