<p>
  With <b>m-ld</b>, information is available where it's <i>used</i>&mdash;on mobiles,
  in browsers, in microservices, anywhere&mdash;and it stays up-to-date, automatically.
  It's <a href="/news/#live-and-sharable">live and sharable</a>.
</p>
<p class="has-text-danger">
  No more expensive, buggy wrangling to get your data from where it's <i>stored</i>, through
  services and APIs and networks, to where it's really valuable.
</p>
<p>
  At the heart of <b>m-ld</b> is a decentralised protocol for distributing live
  information among <i>clones</i>. Using <b>m-ld</b>, every instance of an app has read-write
  access to the shared information via its local clone, with zero network latency.
  Changes to the information are propagated to all other app instances, so they
  are all <i>eventually consistent</i>.
</p>