@charset "utf-8";

@import "../../node_modules/bulma/bulma";

$fa-font-path: "/webfonts";

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

.board-message-box {
  fill: $light;

  &.link-target {
    stroke: $link;
    stroke-width: 3;
  }

  &.unlink-target {
    stroke: $danger;
    stroke-width: 3;
  }
}

.board-message-button {
  visibility: hidden;

  text {
    @extend .fas;
    fill: $white;
    pointer-events: none;
    font-size: 0.8em;
  }
}

.board-message:hover,
.board-message.active {
  .board-message-button {
    visibility: visible;
  }
}

.board-message-close {
  fill: $danger;
}

.board-message-add {
  fill: $primary;
}

.board-message-move {
  fill: $warning;
}

.board-message-code {
  fill: $info;
}

.link-line {
  stroke-width: 3;
  stroke-linecap: round;
  stroke: $link;
}

#link-arrowhead {
  fill: $link;
}
