<p>
  Welcome to the <b>m&#8209;ld</b> playground. Here you can experiment with queries and
  transactions on a temporary domain. You can also join other m&#8209;ld.org
  domains, such as from other playground tabs or from the <a href="/demo/" target="_blank">demo</a>.
</p>
<p>
  To start, click the "new" button above to create a brand new domain, or enter
  an existing domain name and press <span class="tag">Enter</span>. The
  <b>Data</b> pane will show data from the domain that matches the <b>Query</b>
  (by default, all data is described).
</p>
<p>
  To modify domain data, enter JSON-LD data or an update pattern in the
  <b>Transact</b> pane, and click the "apply" button. Any updates applied to the
  domain are shown below (the most recent at the top). When an update arrives,
  the <b>Data</b> pane is automatically updated.
</p>
<p>
  The language of queries and transactions is <a href="https://json-rql.org/"
  target="_blank"><b>json&#8209;rql</b></a>, as for all <b>m&#8209;ld</b>
  engines. The engine being used here is the <a href="https://js.m-ld.org/"
  target="_blank">Javascript engine</a> with an in-memory data store (nothing is
  kept in your browser when you close this tab).
</p>