<div class="card is-fullwidth vflow-item">
  <header class="card-header">
    <p class="card-header-title">Context</p>
  </header>
  <div class="card-content">
    <div id="context-jsoneditor" class="vflow-item"></div>
    <div class="is-italic">applies when joining a domain</div>
  </div>
</div>
<div class="card is-fullwidth vflow-item">
  <header class="card-header">
    <p class="card-header-title">Debugging</p>
  </header>
  <div class="card-content">
    <button id="domain-download" class="button requires-domain">
      <span class="icon">
        <i class="fas fa-download"></i>
      </span>
      <span>Download debug data</span>
    </button>
  </div>
</div>
<nav class="level vflow-item">
  <div class="level-left">
    <button id="options-apply" class="level-item button is-primary">ok</button>
  </div>
  <div class="level-right">
    <button id="options-cancel" class="level-item button">cancel</button>
  </div>
</nav>