<div id="{{ id }}" class="modal {{ classes }}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="/m-ld-avatar.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            {% include content %}
          </div>
        </div>
      </article>
    </div>
  </div>
</div>