<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>m-ld | privacy</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <section class="hero is-medium is-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">m-ld.io privacy and cookies policy</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </section>
</body>

</html>