<aside class="menu is-hidden-mobile">
  <p class="menu-label">
    Overview
  </p>
  <ul class="menu-list">
    <li><a href="/doc/#architecture">Architecture</a></li>
    <li><a href="/doc/#use-cases">Use-Cases</a></li>
    <li><a href="https://spec.m-ld.org/">Specification</a></li>
  </ul>
  <p class="menu-label">
    Principles
  </p>
  <ul class="menu-list">
    <li><a href="/doc/#decentralisation">Decentralisation</a></li>
    <li><a href="/doc/#structured-data">Structured Data</a></li>
    <li><a href="/doc/#realtime">Realtime</a></li>
    <li><a href="/doc/#concurrency">Concurrency</a></li>
    <li><a href="/doc/#extensibility">Extensibility</a></li>
    <li><a href="/doc/#multi-platform">Multi-Platform</a></li>
    <li><a href="/doc/#security">Security</a></li>
  </ul>
  <p class="menu-label">
    Implementation
  </p>
  <ul class="menu-list">
    <li><a href="/doc/#trade-offs">Trade-Offs</a></li>
    <li><a href="/doc/#platforms">Platforms</a></li>
    <li><a href="/doc/#messaging">Messaging</a></li>
  </ul>
  <p class="menu-label">
    Terminology
  </p>
  <div class="box">
    <div class="content">
      <dl>
        <dt>domain</dt>
        <dd>A logical, decentralised set of shared data</dd>
        <dt>clone</dt>
        <dd>One of many physical containers of the domain data, typically embedded in the app</dd>
        <dt>engine</dt>
        <dd>A clone implementation for a particular platform</dd>
        <dt>app</dt>
        <dd>The domain-specific application code that uses <b>m-ld</b> for data sharing</dd>
        <dt>subject</dt>
        <dd>A resource, represented as a JSON object, that is part of the domain data</dd>
      </dl>
    </div>
  </div>
</aside>
