<!DOCTYPE html>
<html id="demo">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>m-ld | demo</title>
  {% include 'gtag.liquid' %}
  <link rel="stylesheet" href="/main.css">
  <script src="../modernizr-custom.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ env.RECAPTCHA_SITE }}"></script>
  <script src="demo.js"></script>
</head>

<body class="loading">
  <div id="loading-progress" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <progress class="progress" max="100">Loading...</progress>
    </div>
  </div>
  <svg id="board">
    <defs>
      <g id="board-message-template" cursor="default">
        <!-- box and body must be locked to the same size, used to detect zoom, see
        MessageView#update -->
        <rect class="board-message-box" rx="10" width="10" height="10" />
        <foreignObject class="board-message-body" width="10" height="10" cursor="text">
          <div xmlns="http://www.w3.org/1999/xhtml" contenteditable="true"
            style="display: inline-block; padding: 15px; white-space: nowrap; outline: none">
          </div>
        </foreignObject>
        <g transform="translate(10, -10)">
          {% include 'buttons/close-button.svg', x: 0 %}
          {% include 'buttons/add-button.svg', x: 25 %}
          {% include 'buttons/move-button.svg', x: 50 %}
          {% include 'buttons/code-button.svg', x: 75 %}
        </g>
      </g>
      <line id="link-line-template" marker-end="url(#link-arrowhead)" />
      <marker id="link-arrowhead" viewBox="0 0 4 4" refX="2" refY="2" markerWidth="4"
        markerHeight="4" orient="auto">
        <path d="M 0 0 L 4 2 L 0 4 z"></path>
      </marker>
      <filter id="shadow">
        <feDropShadow dx="1" dy="1" stdDeviation="2" flood-opacity="30%" />
      </filter>
    </defs>
    <g id="link-lines"></g>
    <g id="messages"></g>
  </svg>
  <div id="board-buttons">
    <div id="board-menu" class="dropdown">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" title="Menu">
          <span class="icon">
            <i class="fas fa-bars" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <i>Boards you have visited from this browser:</i>
          </div>
          <div class="boards-pane">
            <table class="table is-narrow">
              <tbody id="boards">
                <!-- pick-board rows -->
              </tbody>
            </table>
          </div>
          <hr class="dropdown-divider">
          <a class="new-board dropdown-item">
            <i class="fas fa-chalkboard-teacher"></i>
            New...
          </a>
          <a class="share-board dropdown-item">
            <i class="fas fa-share-alt"></i>
            Share
          </a>
          <a class="download-board dropdown-item">
            <i class="fas fa-cog"></i>
            Debugging data
          </a>
          <hr class="dropdown-divider">
          <a id="go-home" class="dropdown-item">
            <i class="fas fa-external-link-alt"></i>
            <b>m-ld</b> homepage
          </a>
          <a class="dropdown-item show-about">
            About this demo...
          </a>
        </div>
      </div>
    </div>
    <div>
      <button id="online" class="button is-outlined is-success" title="Network availability">
        <span class="icon"><i class="fas fa-wifi"></i></span>
      </button>
    </div>
    <div>
      <button class="new-board button" title="New">
        <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
      </button>
    </div>
    <div>
      <button id="save-board" class="button" title="Save" disabled>
        <span class="icon"><i class="fas fa-save"></i></span>
      </button>
    </div>
    <div>
      <button class="share-board button" title="Share">
        <span class="icon"><i class="fas fa-share-alt"></i></span>
      </button>
    </div>
    <div>
      <button id="show-help" class="button" title="Help">
        <span class="icon"><i class="fas fa-question"></i></span>
      </button>
    </div>
  </div>
  <div id="board-message-code" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Message JSON-LD</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <pre class="jsonld"></pre>
      </section>
    </div>
  </div>
  <div id="board-about" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">About the Demo</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body content">
        {% include 'board-about.html' %}
      </section>
    </div>
  </div>
  {% include 'popups.liquid', help: 'board-help.liquid' %}
  <div id="smallprint">
    Content that you add to this message board is not stored by m-ld.io Ltd.
    Internet users can view and edit the board content, without restriction, by
    navigating to <samp id="board-href"></samp>. This page is for demonstration
    purposes only and is not intended for sharing private data.
    See <samp>m-ld.io/privacy</samp>. To discuss your use-case for <b>m-ld</b>
    please email <samp>info@m-ld.io</samp>.
  </div>
</body>

</html>