---
layout: doc.liquid
title: feedback
---
<p>
  To log a technical defect or enhancement request, you can head to
  the Issues page on the main GitHub repository here:
</p>
<p class="has-text-centered">
  <a href="https://github.com/m-ld/m-ld-spec/issues" class="button is-large">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
    <span>m-ld Issues</span>
  </a>
</p>
<p>
  If you know which <a href="/doc/#platforms">platform&nbsp;engine</a> you
  are using, you can also use its own Issues page.
</p>
<hr>
<p>
  To discuss <b>m-ld</b> and its uses, we have a discussion forum here:
</p>
<p class="has-text-centered">
  <a href="https://github.com/m-ld/m-ld-spec/discussions" class="button is-large">
    <span class="icon">
      <i class="fas fa-comment"></i>
    </span>
    <span>m-ld Discussion</span>
  </a>
</p>
<hr>
<p>
  Or you can get in touch with us using this form:
</p> 
<p class="has-text-centered">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSd1B4f3bPCvUz7BJLdJUFRyMdsWo3MYQxgAgSiMH8Rz0D0C-A/viewform?embedded=true"
    width="640"
    height="809"
    frameborder="0"
    marginheight="0"
    marginwidth="0">
    Loading…
  </iframe>
<p>