<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>m-ld</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <section class="hero is-medium is-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img src="m-ld.svg" width="400em" />
      </div>
    </div>
  </section>
  <section id="intro" class="section">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <h1 class="title has-text-centered">{{index.tagline}}</h1>
        <div class="content has-text-justified">
          {% include intro.html %}
        </div>
        <div class="has-text-centered">
          <a class="button is-info is-large" href="demo/">show me</a>
        </div>
      </div>
    </div>
  </section>
  <section id="streams" class="section">
    <div class="columns has-text-centered">
      <div class="column">
        <div class="box" style="height: 100%">
          <h1 class="title is-4">architecture</h1>
          <img src="narrative.svg#svgView(viewBox(360, 50, 400, 570))" />
        </div>
      </div>
      <div class="column">
        <div class="box" style="height: 100%">
          <h1 class="title is-4">api</h1>
          <div class="content has-text-left">
            <pre>{% include api-example-1.json %}</pre>
          </div>
          <div class="content has-text-left">
            <pre>{% include api-example-2.json %}</pre>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box" style="height: 100%">
          <h1 class="title is-4">platforms</h1>
          <div class="buttons are-medium">
            {%- for platform in index.platforms -%}
            <a class="button is-static is-light is-fullwidth">
              <span class="icon"><i class="{{platform.icon}}"></i></span>
              <span class="has-text-dark">{{platform.name}}</span>
              {% if platform.soon %}
              <span class="tag is-primary" style="margin-left: 1em;">Soon!</span>
              {% endif %}
            </a>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="faq" class="section">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <h1 class="title has-text-centered">frequently asked questions</h1>
        {%- for faq in collections.faq -%}
        <div class="content has-text-weight-bold is-medium">
          {{ faq.data.question }}
        </div>
        <div class="content">
          <blockquote>{{ faq.templateContent }}</blockquote>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
  <footer class="footer level">
    <div class="level-left">
      <div class="level-item">
        <p><b>m-ld</b> source code licensed
          <a target="_blank" href="http://opensource.org/licenses/mit-license.php">MIT</a>,
          website content licensed
          <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA
            4.0</a>.
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p><a href="privacy/">privacy policy</a></p>
      </div>
    </div>
  </footer>
</body>

</html>