<!DOCTYPE html>
<html id="playground">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>m-ld</title>
  <link rel="stylesheet" href="/main.css" type="text/css">
  <link rel="stylesheet" href="/jsoneditor.min.css" type="text/css">
  <script src="../modernizr-custom.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ env.RECAPTCHA_SITE }}"></script>
  <script src="playground.js"></script>
  <style>
    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    #playground-ide {
      flex: 1;
      display: flex;
      flex-direction: row;
      min-height: 0;
    }
    #data-pane {
      padding: 1em; flex: 1; display: flex; flex-direction: column;
    }
    #txn-pane {
      padding: 1em; flex: 1; overflow: scroll;
    }
    .min-json {
      height: 200px;
    }
    .vflow-item:not(:last-child) {
      margin-bottom: 16px;
    }
    .fit-json {
      flex: 1;
    }
    .card-preview {
      max-width: 30em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #domain-input {
      min-width: 300px;
    }
    #domain-spinner {
      position: absolute;
      right: 20px;
      pointer-events: none;
    }
    .jsoneditor-menu {
        background-color: darkgrey;
        border-bottom: thin solid darkgrey;
    }
    .jsoneditor {
        border: thin solid darkgrey;
    }
  </style>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="/"><img src="/m-ld.svg" width="112" /></a>
        playground
      </div>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="playground-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="playground-navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <input id="domain-input" class="input is-fullwidth" type="text" placeholder="domain">
          <i id="domain-spinner" class="fas fa-spinner fa-spin is-hidden"></i>
        </div>
        <div class="navbar-item buttons">
          <button id="domain-new" class="button">
            <span class="icon">
              <i class="fas fa-file"></i>
            </span>
            <span>new</span>
          </button>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item buttons">
          <button id="show-help" class="button" title="Help">
            <span class="icon">
              <i class="fas fa-question"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <section id="playground-ide">
    <div id="data-pane">
      <div class="card is-fullwidth vflow-item">
        <header class="card-header">
          <p class="card-header-title">Query</p>
          <pre class="card-preview"></pre>
          <a class="card-header-icon card-toggle">
            <i class="fa fa-angle-down"></i>
          </a>
        </header>
        <div class="card-content is-hidden">
          <div id="query-jsoneditor" class="min-json vflow-item"></div>
          <nav class="level vflow-item">
            <div class="level-left">
              <button id="query-apply" class="level-item button is-primary requires-domain">apply</button>
            </div>
            <div class="level-right">
              <div class="level-item dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="query-templates-menu">
                    <span>templates</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="query-templates-menu" role="menu">
                  <div class="dropdown-content">
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">Data</p>
          <a class="card-header-icon">
            <i id="data-spinner" class="fas fa-spinner fa-spin is-hidden"></i>
          </a>
        </header>
      </div>
      <div id="data-jsoneditor" class="fit-json vflow-item"></div>
    </div>
    <div id="txn-pane">
      <div class="card is-fullwidth vflow-item">
        <header class="card-header">
          <p class="card-header-title">Transact</p>
          <a class="card-header-icon card-toggle">
            <i class="fa fa-angle-up"></i>
          </a>
        </header>
        <div class="card-content">
          <div id="txn-jsoneditor" class="min-json vflow-item"></div>
          <nav class="level vflow-item">
            <div class="level-left">
              <button id="txn-apply" class="level-item button is-primary requires-domain">apply</button>
            </div>
            <div class="level-right">
              <div class="level-item dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="txn-templates-menu">
                    <span>templates</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="txn-templates-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item">Insert</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  {% include 'popups.liquid', help: 'board-help.liquid' %}
</body>

</html>