<!DOCTYPE html>
<html id="playground">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>m-ld | playground</title>
  {% include 'gtag.liquid' %}
  <link rel="stylesheet" href="/main.css" type="text/css">
  <link rel="stylesheet" href="/jsoneditor.min.css" type="text/css">
  <script src="../modernizr-custom.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ env.RECAPTCHA_SITE }}"></script>
  <script src="playground.js"></script>
  <style>
    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    #playground-ide {
      flex: 1;
      display: flex;
      flex-direction: row;
      min-height: 0;
    }
    #data-pane {
      padding: 1em;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    #txn-pane {
      padding: 1em;
      flex: 1;
    }
    .card-json {
      height: 200px;
    }
    .vflow-item:not(:last-child) {
      margin-bottom: 16px;
    }
    .fill-down {
      flex: 1;
    }
    .card {
      overflow: visible;
    }
    .card-preview {
      max-width: 25em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .update-card .card-header-title {
      font-weight: unset;
    }
    #domain-input {
      min-width: 300px;
    }
    #domain-join {
      position: absolute;
      right: 25px;
      pointer-events: none;
      opacity: 0.75;
    }
    .jsoneditor-menu {
        background-color: darkgrey;
        border-bottom: thin solid darkgrey;
    }
    .jsoneditor {
        border: thin solid darkgrey;
    }
  </style>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="/"><img src="/m-ld.svg" width="112" /></a>
        playground
      </div>
      <script>
      function playgroundNavbarToggle() {
        document.querySelector('#playground-burger').classList.toggle('is-active');
        document.querySelector('#playground-navbar').classList.toggle('is-active');
      }
      </script>
      <a role="button" id="playground-burger" class="navbar-burger burger" onclick="playgroundNavbarToggle()"
        aria-label="menu" aria-expanded="false" data-target="playground-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="playground-navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <input id="domain-input" class="input is-fullwidth" type="text"
            placeholder="enter m-ld domain or click new">
          <i id="domain-join" class="fas fa-level-down-alt fa-rotate-90"></i>
        </div>
        <div class="navbar-item buttons">
          <button id="domain-new" class="button">
            <span class="icon">
              <i class="fas fa-chalkboard-teacher"></i>
            </span>
            <span>new</span>
          </button>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item buttons">
          <button id="show-options" class="button" title="Options">
            <span class="icon">
              <i class="fas fa-cog"></i>
            </span>
          </button>
          <button id="show-help" class="button" title="Help">
            <span class="icon">
              <i class="fas fa-question"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <section id="playground-intro" class="section notification is-info is-light is-hidden">
    <button class="delete"></button>
    <div class="columns">
      <div class="column content">
        {% include 'playground-intro.html' %}
      </div>
      <div class="column">
        <iframe src="https://player.vimeo.com/video/463091725" width="100%" height="100%"
          frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section id="playground-ide">
    <div id="data-pane">
      <div id="query-card" class="card is-fullwidth vflow-item">
        <header class="card-header">
          <p class="card-header-title">Query</p>
          <pre class="card-preview"></pre>
          <a class="card-header-icon card-toggle">
            <i class="fa fa-angle-down"></i>
          </a>
        </header>
        <div class="card-content is-hidden">
          <div class="card-json vflow-item"></div>
          <nav class="level vflow-item">
            <div class="level-left">
              <button id="query-apply" class="level-item button is-primary requires-domain">apply</button>
              <a class="level-item button card-link" title="Copy permalink">
                <span class="icon is-small">
                  <i class="fas fa-link"></i>
                </span>
              </a>
            </div>
            <div class="level-right">
              <div class="level-item dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="query-templates-menu">
                    <span>templates</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu templates-menu" id="query-templates-menu" role="menu">
                  <div class="dropdown-content">
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">Data&nbsp;<span style="font-weight: normal;">– Query Results</span></p>
          <a class="card-header-icon">
            <i id="data-spinner" class="fas fa-spinner fa-spin is-hidden"></i>
          </a>
        </header>
      </div>
      <div id="data-jsoneditor" class="vflow-item fill-down"></div>
    </div>
    <div id="txn-pane">
      <div id="txn-card" class="card is-fullwidth vflow-item">
        <header class="card-header">
          <p class="card-header-title">Transact</p>
          <a class="card-header-icon card-toggle">
            <i class="fa fa-angle-up"></i>
          </a>
        </header>
        <div class="card-content">
          <div class="card-json vflow-item"></div>
          <nav class="level vflow-item">
            <div class="level-left">
              <button id="txn-apply" class="level-item button is-primary requires-domain">apply</button>
              <a class="level-item button card-link" title="Copy permalink">
                <span class="icon is-small">
                  <i class="fas fa-link"></i>
                </span>
              </a>
            </div>
            <div class="level-right">
              <div class="level-item dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="txn-templates-menu">
                    <span>templates</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu templates-menu" id="txn-templates-menu" role="menu">
                  <div class="dropdown-content">
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div id="update-template" class="card update-card is-fullwidth vflow-item is-hidden">
        <header class="card-header">
          <p class="card-header-title">just now</p>
          <pre class="card-preview"></pre>
          <a class="card-header-icon card-toggle">
            <i class="fa fa-angle-down"></i>
          </a>
        </header>
        <div class="card-content is-hidden">
          <div class="card-json vflow-item"></div>
        </div>
      </div>
      <div id="updates-log" class="vflow-item">
      </div>
    </div>
  </section>
  {% include 'popup.liquid', id: 'options-dialog', content: 'playground-options.html' %}
  {% include 'popups.liquid', help: 'playground-help.html' %}
</body>

</html>